body, html {
  font-family: sans-serif;

  height: 100%;
  overflow: hidden;
  margin: 0;
}

#login-pane {
  float: left;
  width: 10em;
  height: 10em;
}

#login-pane img {
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -1em;
}

#current-time {
  position: absolute;
  right: 0;
  top: 0;
  width: 20em;
  height: 2em;
  text-align: right;
}

#sales-pane {
  position: absolute;
  left: 10em;
  top: 0;
  width: calc(100% - 10em);
  height: calc(100% - 16em);
  padding: 1em;
}

#sales-list-container {
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

#clientslist-pane {
  position: absolute;
  left: 10em;
  bottom: 0;
  width: calc(100% - 10em);
  height: 10em;
  padding: 1em;
}

#clientslist-list-container {
  width: 100%;
  height: 100%;
  overflow-y: auto;
}
