body, html {
	font-family: sans-serif;
	
	height: 100%;
	overflow: hidden;
	margin: 0;
}

h2 {
	margin: 0;
}

#login-pane {
	width: 10em;
	height: 10em;
}

#login-pane img {
	width: 80%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: -1em;
}

#toolbar-pane {
	position: absolute;
	left: 0;
	top: 0;
	width: 25%;
	height: 100%;
}

#filter-pane {
	position: absolute;
	right: 0;
	top: 0;
	width: 75%;
	height: 4em;
}

#clientslist-pane .client {
	background-color: #F6D8CE;
	border-radius: 0.5em;
	margin: 0.5em;
	padding: 0.5em;
}

#clientslist-pane .client.open {
	background-color: #E0F8EC;
}

#clientslist-pane .client .name {
	font-weight: bold;
	margin-bottom: 0.5em;
}

#sales-pane .list {
	width: 100%;
}

#sales-pane tr.sale {
	cursor: pointer;
}

#sales-pane tr.sale:hover {
	background-color: #F5EFFB;
}

@mixin breakpoint($point) {
	@if $point == big {
		@media screen and (max-width: 1600px){@content;}
	}
	@else if $point == medium {
		@media screen and (max-width: 900px){@content;}
	}
	@else if $point == small {
		@media screen and (max-width: 600px){@content;}
	}
}


$tab-head-color:#525252;
$tab-checked-border-color:#B8B63E;
$tab-border-color:#4D4C47;
$tab-text-color:#DBDBD3;
$tab-checked-text-color:#F2F2F2;
$tab-hover-color:#667876;
$tab-body-wrapper-color:#F7EEC6;
$tab-delimiter-line-height:5px;
$tab-label-height:3em;

.tabs-wrapper {
	position: absolute;
	right: 0;
	top: 4em;
	width: 75%;
	height: calc(100% - 4em);
	input[type=radio] {
		display:none;
	}
	label {
		transition:background 0.4s ease-in-out, height 0.2s linear;
		display:inline-block;
		cursor:pointer;
		color:$tab-text-color;
		width:20%;
		height:$tab-label-height;
		border-top-left-radius: 3px;
		border-top-right-radius: 3px;
		background:$tab-head-color;
		text-align:center;
		line-height:3em;
		&:last-of-type {
			border-bottom:none;
		}
		&:hover {
			background:$tab-hover-color;
		}
		@include breakpoint(big){width:15%;}
		@include breakpoint(medium){width:20%;}
		@include breakpoint(small){
			width:100%; 
			display:block; 
			border-bottom:2px solid $tab-border-color;
			border-radius:0;
		}
	}
	
	@include breakpoint(small){margin:0;}
}

#tab1, #tab2, #tab3 {
	&:checked{
		+ label {
			background:$tab-checked-border-color;
			color:$tab-checked-text-color;
		}
	}
}

.tab-body {
	position:absolute;
	top:-9999px;
	opacity:1;
	padding:10px;
}

.tab-body-wrapper {
	background:$tab-body-wrapper-color;
	border-top:$tab-checked-border-color $tab-delimiter-line-height solid;
	border-bottom-right-radius:3px;
	border-bottom-left-radius:3px;
	border-top-right-radius:3px;
	height: calc(100% - 3em);
	overflow-y: auto;
	@include breakpoint(small) {
		border:none;
		border-radius:0;
	};
}

#tab1:checked ~ .tab-body-wrapper #tab-body-1, 
#tab2:checked ~ .tab-body-wrapper #tab-body-2, 
#tab3:checked ~ .tab-body-wrapper #tab-body-3 {
	position:relative;
	top:0px;
}